@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300;400;600&display=swap');

.card {
    background: #fffcee;
    width: 90%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    /* padding-bottom: 40px; */
    border-radius: 30px;
    margin: 20px 0;

    font-family: 'Sono', sans-serif;
}

.content {
    margin: 0px 10px;
}
.card h2 {
    color: #19282F;
    font-size: 32px;
    letter-spacing: .2px;
}

.card a {
    color: white;
    margin: 30px auto;
    display: block;

    padding-top: 18px;
    padding-bottom: 18px;

    text-align: center;

    border-radius: 20px;
    background: #F05454;
}

.card a:hover {
    background: #f87676;
}

.card a:active {
    background: #f87676;
}

.imageContainer {
    height: 420px;

    border-radius: 30px 30px 0 0;
}

.image {
    object-fit: cover;
    height: 100%;
    width: 100%;

    border-radius: 30px 30px 0 0;
}

/* ------- MEDIUM DEVICES ------- */

@media only screen and (min-width: 768px) {

    .card {
        width: 380px;
    }
}